@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>天津慧通</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css" />
    <script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="js/custom/general.js"></script>
    <script type="text/javascript" src="js/custom/tables.js"></script>
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
    <!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body class="withvernav">
    <div class="bodywrapper">
        @Html.Action("Top", "Admin")

        <div class="centercontent tables">

            <!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div style="float: right; margin: 10px;"><a href="/Admin/ArticleDetail?ParentID=@(((Business.Article)ViewBag.SearchEntity).ParentID)" class="btn btn_orange btn_link"><span>添 加</span></a></div>
                <!--contenttitle-->
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable">

                    <thead>
                        <tr>
                            <th class="head0">标题</th>
                            <th class="head0">图片</th>
                            <th class="head0">是否推荐至首页</th>
                            <th class="head0">排序值（越小越靠前）</th>
                            <th class="head0">创建时间</th>
                            <th class="head0">操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in (List<Business.Article>)ViewBag.Items)
                        { 
                            <tr class="gradeA">
                                <td>@item.Title</td>
                                <td>
                                    <img src="@item.ImgUrl" style="height:100px;width:100px;" alt="@item.Title"/>
                                </td>
                                <td>@(item.IsHomeShow ? "是" : "否") </td>
                                <td>@item.Sort</td>
                                <td>@item.CreateTime</td>
                                <td>
                                    @if (item.ParentID != 5)
                                    {
                                    <a href="/Admin/ArticleDetail?ID=@item.ID" class="btn btn_orange btn_link"><span>修改</span></a>
                                    } &nbsp;&nbsp;
                                    <a href="/@((ViewBag.ParentEntity as Business.Article).Text)/Detail?ID=@item.ID&ParentID=@item.ParentID"  class="btn btn_orange btn_link"><span>预览</span></a>
                                    &nbsp;&nbsp;
                                    <a href="###" onclick="Delete(@item.ID)" class="btn btn_orange btn_trash"><span>删除</span></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!--bodywrapper-->



    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul>
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body>
</html>
<script type="text/javascript">
    function Delete(id) {
        if (!confirm("确定删除?")) {
            return false;
        }
        jQuery.post("/Admin/ArticleDelete", { ID: id }, function (res) {
            if (res == "ok") {
                alert("删除成功");
                window.location.reload();
            }
            else {
                alert("删除失败！请联系管理员");
                return false;
            }
        });
    }

</script>
